.product_detail {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

.font-size-text {
    font-size: 20px;
}

.genuine_shoe {
    width: 1000px;
    height: 500px;
    margin-left: 170px;
}


/* danh má»¥c sp*/

.sidenav {
    height: auto;
    width: 200px;
    overflow-x: hidden;
    padding-top: 20px;
}


/* Style the sidenav links and the dropdown button */

.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
}

.dropdown-container {
    display: none;
    padding-left: 8px;
}


/* Optional: Style the caret down icon */

.fa-caret-down {
    float: right;
    padding-right: 8px;
}


/* Some media queries for responsiveness */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

input#search {
    width: 450px;
    border-radius: 25px;
}

.text_a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.ul_list {
    list-style: none;
}

#menu ul {
    width: 250px;
    padding: 0;
    list-style-type: none;
    text-align: left;
    font-family: sans-serif;
    font-size: 15px;
}

#menu li {
    width: auto;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 1em;
}

#menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
}

#menu li:hover {
    background: #CDE2CD;
}

.genuine_shoes_left {
    float: left;
}

.genuine_shoes_right {
    float: right;
}

.slide {
    width: 100%;
    height: 600px;
    margin: 0px;
    padding: 0px;
}

.card {
    margin: 2px;
}

.font-family {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    background-color: white;
    padding: 10px;
}

#navbar {
    overflow: hidden;
    background-color: rgb(180, 56, 56);
    width: auto;
    height: auto;
    z-index: 999999999999999;
}

#navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 0px 1px;
    text-decoration: none;
    font-size: 15px;
}

#navbar a:hover {
    color: rgb(8, 49, 109);
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.sticky+.content {
    padding-top: 60px;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.toggle {
    background-color: white;
    display: none;
    height: 100px;
    width: 150px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

#footer.color-div input {
    background: #3f3f3f;
    border: 1px solid blue;
}

.color-div a {
    color: lightgray;
}

#footer {
    background: #172431;
    color: #7b8fa3;
    padding: 40px 0 50px;
}

#footer a {
    color: #7b8fa3
}

#footer.color-div a {
    color: gray
}

#footer a:hover {
    color: #f90
}

.color-div p {
    color: gray;
}

#footer ul {
    list-style: none;
}

#footer ul li {
    margin-bottom: 10px;
}

img {
    transition: all 0.3s ease;
}

.image-hover:hover img {
    transform: scale(1.4);
    transition-duration: 0.2;
    transition-property: all;
}

.image-hover {
    overflow: hidden;
    transition: all 0.2s ease;
}

.box:hover img {
    transform: scale(1.5, 1.5);
}

.inner-header {
    padding: 20px 0
}

.form-block {
    margin-bottom: 10px
}

.form-block {
    margin-bottom: 20px;
    overflow: hidden
}

.form-block>* {
    float: left
}

.form-block label {
    width: 200px;
    font-weight: lighter
}

.form-block input,
.form-block select,
.beta-form-checkout textarea {
    width: 60%;
    overflow: hidden
}

.form-block #apartment {
    margin-left: 200px
}

.form-block #apartment {
    margin-left: 0
}

.form-block input,
.form-block select,
.beta-form-checkout textarea {
    width: 100%
}

.login {
    height: 160px;
}

.logo {
    height: 100%;
    width: 100%;
}

.card {
    position: relative;
    ;
}

.img-product-fly {
    position: absolute;
    z-index: 99999999;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid red;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-menu {
    padding: 0;
    margin: 0;
    background-color: rgb(175, 76, 76);
    height: 80px;
    width: auto;
    color: black;
    z-index: 999999999;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.text-color {
    color: white;
}

.text-color a:hover {
    color: rgb(235, 222, 222);
}

.inner-title,
.beta-breadcrumb,
.beta-breadcrumb a {
    color: black;
}

.inner-title {
    color: #fff;
    line-height: 100%;
    margin-bottom: 0;
    text-transform: capitalize;
}

h6,
.h6 {
    color: #253951;
    font-size: 1.92308em;
    line-height: 39.78px;
    font-weight: 300;
    margin-top: 0;
}

.content {
    padding: 60px 0
}

#content2 {
    padding: 60px 0
}

#boder {
    border: 1px;
}